In [9]:
import os 
import pandas as pd
import requests
from bs4 import BeautifulSoup

In [72]:
def download_dataset():
    '''Downloads a dataset from kaggle and only keeps the csv in your data file. Beware of your own data structure:
    this creates a data directory and also moves all the .csv files next to your jupyter notebooks to it.
    Takes: url from kaggle
    Returns: a folder with the downloaded csv
    '''
    
    #Gets the name of the dataset.zip
    url = input("Introduce la url: ")
    
    #Gets the name of the dataset.zip
    endopint = url.split("/")[-1]
    user = url.split("/")[-2]
    
    #Download, decompress and leaves only the csv
    download = f"kaggle datasets download -d {user}/{endopint}; say -v Monica 'descargando'"
    decompress = f"tar -xzvf {endopint}.zip; say -v Monica 'descomprimiendo'"
    delete = f"rm -rf {endopint}.zip; say -v Monica 'borrando el zip'"
    make_directory = "mkdir data"
    lista = "ls >> archivos.txt"
    
    for i in [download, decompress, delete, make_directory, lista]:
        os.system(i)
    
    #Gets the name of the csv (you should only have one csv when running this code)
    lista_archivos = open('archivos.txt').read()
    nueva = lista_archivos.split("\n")
    
    #Moves the .csv into the data directory
    for i in nueva:
        if i.endswith(".csv"):
            move_and_delete = f"mv {i} nba_data/dataset.csv; rm archivos.txt; say -v Monica 'moviendo el dataset'"
            return os.system(move_and_delete)

In [76]:
download_dataset()

Introduce la url: https://www.kaggle.com/justinas/nba-players-data

In [47]:
data = pd.read_csv("nba_data/dataset.csv", encoding = "ISO-8859-1")

As we will see there are no missing values in the dataset, so we are going to the court just renaming some columns and dropping one of them, the classic one "Unnamed:0".

In [48]:
data = data.dropna()

In [49]:
data.drop(["Unnamed: 0"], axis = 1, inplace = True)

In [52]:
data.head()

,player_name,team_abbreviation,age,player_height,player_weight,college,country,draft_year,draft_round,draft_number,...,pts,reb,ast,net_rating,oreb_pct,dreb_pct,usg_pct,ts_pct,ast_pct,season
0,Dennis Rodman,CHI,36.0,198.12,99.790240,Southeastern Oklahoma State,USA,1986,2,27,...,5.7,16.1,3.1,16.1,0.186,0.323,0.100,0.479,0.113,1996-97
1,Dwayne Schintzius,LAC,28.0,215.90,117.933920,Florida,USA,1990,1,24,...,2.3,1.5,0.3,12.3,0.078,0.151,0.175,0.430,0.048,1996-97
2,Earl Cureton,TOR,39.0,205.74,95.254320,Detroit Mercy,USA,1979,3,58,...,0.8,1.0,0.4,-2.1,0.105,0.102,0.103,0.376,0.148,1996-97
3,Ed O'Bannon,DAL,24.0,203.20,100.697424,UCLA,USA,1995,1,9,...,3.7,2.3,0.6,-8.7,0.060,0.149,0.167,0.399,0.077,1996-97
4,Ed Pinckney,MIA,34.0,205.74,108.862080,Villanova,USA,1985,1,10,...,2.4,2.4,0.2,-11.2,0.109,0.179,0.127,0.611,0.040,1996-97

In [62]:
dictionary = {"Full Name":"player_name", "Team": "team_abbreviation", "Age": "age",
              "Height":"player_height", "Weight": "player_weight", "College":"college",
              "Country": "country", "Draft Year":"draft_year", "Draft Round": "draft_round",
              "Draft Number": "draft_number", "Games Played": "gp", "Pts per game": "pts",
              "Reb per game": "reb", "Assists per game": "ast", "Net Rating": "net_rating",
              "Off Reb%": "oreb_pct", "Def Reb%": "dreb_pct", "Usage%": "usg_pct", "TS%": "ts_pct",
              "Assists%": "ast_pct", "Season": "season"}

In [68]:
data.columns = map(str.upper, data.columns)

In [69]:
data.head()

,PLAYER_NAME,TEAM_ABBREVIATION,AGE,PLAYER_HEIGHT,PLAYER_WEIGHT,COLLEGE,COUNTRY,DRAFT_YEAR,DRAFT_ROUND,DRAFT_NUMBER,...,PTS,REB,AST,NET_RATING,OREB_PCT,DREB_PCT,USG_PCT,TS_PCT,AST_PCT,SEASON
0,Dennis Rodman,CHI,36.0,198.12,99.790240,Southeastern Oklahoma State,USA,1986,2,27,...,5.7,16.1,3.1,16.1,0.186,0.323,0.100,0.479,0.113,1996-97
1,Dwayne Schintzius,LAC,28.0,215.90,117.933920,Florida,USA,1990,1,24,...,2.3,1.5,0.3,12.3,0.078,0.151,0.175,0.430,0.048,1996-97
2,Earl Cureton,TOR,39.0,205.74,95.254320,Detroit Mercy,USA,1979,3,58,...,0.8,1.0,0.4,-2.1,0.105,0.102,0.103,0.376,0.148,1996-97
3,Ed O'Bannon,DAL,24.0,203.20,100.697424,UCLA,USA,1995,1,9,...,3.7,2.3,0.6,-8.7,0.060,0.149,0.167,0.399,0.077,1996-97
4,Ed Pinckney,MIA,34.0,205.74,108.862080,Villanova,USA,1985,1,10,...,2.4,2.4,0.2,-11.2,0.109,0.179,0.127,0.611,0.040,1996-97

In [64]:
data.tail() #Have to solve this problem.

,player_name,team_abbreviation,age,player_height,player_weight,college,country,draft_year,draft_round,draft_number,...,pts,reb,ast,net_rating,oreb_pct,dreb_pct,usg_pct,ts_pct,ast_pct,season
11140,Maxi Kleber,DAL,28.0,208.28,108.862080,None,Germany,Undrafted,Undrafted,Undrafted,...,9.1,5.4,1.1,4.6,0.056,0.140,0.136,0.605,0.064,2019-20
11141,Melvin Frazier Jr.,ORL,23.0,195.58,97.522280,Tulane,USA,2018,2,35,...,1.2,0.3,0.1,-2.4,0.018,0.058,0.164,0.480,0.033,2019-20
11142,Meyers Leonard,MIA,28.0,213.36,117.933920,Illinois,USA,2012,1,11,...,6.1,5.1,1.1,5.6,0.029,0.217,0.120,0.640,0.076,2019-20
11143,Norvel Pelle,PHI,27.0,208.28,104.779752,None,USA,Undrafted,Undrafted,Undrafted,...,2.1,3.0,0.4,-16.4,0.085,0.237,0.126,0.521,0.056,2019-20
11144,Matt Thomas,TOR,25.0,193.04,86.182480,Iowa State,USA,Undrafted,Undrafted,Undrafted,...,4.5,1.4,0.5,1.0,0.017,0.104,0.149,0.663,0.089,2019-20

Now we are on the court. We are playing a clean game with no fouls but... we need to enrich our stats. How? With information from NBA stats. We are going to add average statistics from this season. Because, you know, it's 2021.

In [12]:
#STOPPPPPPP START WEB SCRAPING

In [10]:
url = "https://stats.nba.com/stats/leaguedashplayerstats?College=&Conference=&Country=&DateFrom=&DateTo=&Division=&DraftPick=&DraftYear=&GameScope=&GameSegment=&Height=&LastNGames=0&LeagueID=00&Location=&MeasureType=Base&Month=0&OpponentTeamID=0&Outcome=&PORound=0&PaceAdjust=N&PerMode=PerGame&Period=0&PlayerExperience=&PlayerPosition=&PlusMinus=N&Rank=N&Season=2020-21&SeasonSegment=&SeasonType=Regular+Season&ShotClockRange=&StarterBench=&TeamID=0&TwoWay=0&VsConference=&VsDivision=&Weight="

In [11]:
header = {
"Accept": "application/json, text/plain, */*",
"Accept-Encoding": "gzip, deflate, br",
"Accept-Language": "es-ES,es;q=0.9",
"Origin": "https://www.nba.com",
"Referer": "https://www.nba.com/",
"Sec-Fetch-Dest": "empty",
"Sec-Fetch-Mode": "cors",
"Sec-Fetch-Site": "same-site",
"User-Agent": "Mozilla/5.0 (X11; Linux x86_64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/89.0.4389.114 Safari/537.36",
"x-nba-stats-origin": "stats",
"x-nba-stats-token": "true"}

In [12]:
response = requests.get(url, headers=header).json()

In [13]:
frame = pd.DataFrame(response['resultSets'][0]['rowSet'])
frame.columns = response['resultSets'][0]['headers']
frame.head()

,PLAYER_ID,PLAYER_NAME,TEAM_ID,TEAM_ABBREVIATION,AGE,GP,W,L,W_PCT,MIN,...,BLKA_RANK,PF_RANK,PFD_RANK,PTS_RANK,PLUS_MINUS_RANK,NBA_FANTASY_PTS_RANK,DD2_RANK,TD3_RANK,CFID,CFPARAMS
0,203932,Aaron Gordon,1610612743,DEN,25.0,33,17,16,0.515,29.2,...,85,206,62,101,143,87,92,16,5,"203932,1610612743"
1,1628988,Aaron Holiday,1610612754,IND,24.0,49,22,27,0.449,17.7,...,150,264,290,247,229,309,148,27,5,"1628988,1610612754"
2,1630174,Aaron Nesmith,1610612738,BOS,21.0,30,16,14,0.533,13.3,...,332,316,396,399,161,410,205,27,5,"1630174,1610612738"
3,1627846,Abdel Nader,1610612756,PHX,27.0,24,16,8,0.667,14.8,...,283,320,208,276,144,329,205,27,5,"1627846,1610612756"
4,1629690,Adam Mokoka,1610612741,CHI,22.0,9,2,7,0.222,5.2,...,473,459,498,462,360,475,205,27,5,"1629690,1610612741"

Let's do some cleaning tasks again!

In [14]:
frame.columns

Index(['PLAYER_ID', 'PLAYER_NAME', 'TEAM_ID', 'TEAM_ABBREVIATION', 'AGE', 'GP',
       'W', 'L', 'W_PCT', 'MIN', 'FGM', 'FGA', 'FG_PCT', 'FG3M', 'FG3A',
       'FG3_PCT', 'FTM', 'FTA', 'FT_PCT', 'OREB', 'DREB', 'REB', 'AST', 'TOV',
       'STL', 'BLK', 'BLKA', 'PF', 'PFD', 'PTS', 'PLUS_MINUS',
       'NBA_FANTASY_PTS', 'DD2', 'TD3', 'GP_RANK', 'W_RANK', 'L_RANK',
       'W_PCT_RANK', 'MIN_RANK', 'FGM_RANK', 'FGA_RANK', 'FG_PCT_RANK',
       'FG3M_RANK', 'FG3A_RANK', 'FG3_PCT_RANK', 'FTM_RANK', 'FTA_RANK',
       'FT_PCT_RANK', 'OREB_RANK', 'DREB_RANK', 'REB_RANK', 'AST_RANK',
       'TOV_RANK', 'STL_RANK', 'BLK_RANK', 'BLKA_RANK', 'PF_RANK', 'PFD_RANK',
       'PTS_RANK', 'PLUS_MINUS_RANK', 'NBA_FANTASY_PTS_RANK', 'DD2_RANK',
       'TD3_RANK', 'CFID', 'CFPARAMS'],
      dtype='object')

In [15]:
frame.drop(["PLAYER_ID", "TEAM_ID", "W", "L", "W_PCT", "NBA_FANTASY_PTS", "GP_RANK", "W_RANK", "L_RANK",
            "W_PCT_RANK", "MIN_RANK", "FGM_RANK", "FGA_RANK", "FG_PCT_RANK", "FG3M_RANK", "FG3A_RANK",
            "FG3_PCT_RANK", "FTM_RANK", "FTA_RANK", "FT_PCT_RANK", "OREB_RANK", "DREB_RANK", "REB_RANK", "AST_RANK", 
            "TOV_RANK", "STL_RANK", "BLK_RANK", "BLKA_RANK", "PF_RANK", "PFD_RANK", "PTS_RANK", "PLUS_MINUS_RANK", 
            "NBA_FANTASY_PTS_RANK", "DD2_RANK", "TD3_RANK", "CFID", "CFPARAMS"], axis = 1, inplace = True)

In [16]:
frame

,PLAYER_NAME,TEAM_ABBREVIATION,AGE,GP,MIN,FGM,FGA,FG_PCT,FG3M,FG3A,...,TOV,STL,BLK,BLKA,PF,PFD,PTS,PLUS_MINUS,DD2,TD3
0,Aaron Gordon,DEN,25.0,33,29.2,5.0,10.9,0.461,1.5,4.0,...,2.3,0.7,0.8,0.7,1.8,3.2,13.8,1.2,3,1
1,Aaron Holiday,IND,24.0,49,17.7,2.7,6.9,0.399,1.1,3.0,...,0.9,0.7,0.2,0.5,1.6,1.0,7.5,0.0,1,0
2,Aaron Nesmith,BOS,21.0,30,13.3,1.2,3.1,0.372,0.7,2.2,...,0.5,0.3,0.2,0.2,1.4,0.6,3.4,1.0,0,0
3,Abdel Nader,PHX,27.0,24,14.8,2.4,4.8,0.491,0.8,1.8,...,0.8,0.4,0.4,0.3,1.4,1.5,6.7,1.2,0,0
4,Adam Mokoka,CHI,22.0,9,5.2,0.7,1.7,0.400,0.1,0.9,...,0.2,0.2,0.1,0.0,0.6,0.0,1.4,-1.8,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
514,Yogi Ferrell,CLE,27.0,2,20.3,4.0,10.5,0.381,1.5,4.5,...,1.5,1.5,0.5,1.0,2.0,2.5,9.5,-5.5,0,0
515,Yuta Watanabe,TOR,26.0,34,12.2,1.1,2.8,0.411,0.5,1.3,...,0.3,0.5,0.4,0.2,1.0,0.6,3.1,0.7,0,0
516,Zach LaVine,CHI,26.0,50,35.1,9.8,19.3,0.509,3.4,8.1,...,3.7,0.8,0.4,1.2,2.3,4.0,27.5,-0.6,3,0
517,Zeke Nnaji,DEN,20.0,34,10.0,1.3,2.6,0.506,0.6,1.5,...,0.2,0.1,0.1,0.1,0.8,0.4,3.5,-2.0,0,0
518,Zion Williamson,NOP,20.0,47,32.7,10.1,16.4,0.617,0.2,0.5,...,2.5,0.9,0.6,2.1,2.2,5.9,26.5,0.5,12,0

In [17]:
url_usage = "https://stats.nba.com/stats/leaguedashplayerstats?College=&Conference=&Country=&DateFrom=&DateTo=&Division=&DraftPick=&DraftYear=&GameScope=&GameSegment=&Height=&LastNGames=0&LeagueID=00&Location=&MeasureType=Usage&Month=0&OpponentTeamID=0&Outcome=&PORound=0&PaceAdjust=N&PerMode=PerGame&Period=0&PlayerExperience=&PlayerPosition=&PlusMinus=N&Rank=N&Season=2020-21&SeasonSegment=&SeasonType=Regular+Season&ShotClockRange=&StarterBench=&TeamID=0&TwoWay=0&VsConference=&VsDivision=&Weight="

In [18]:
headers = {
    "Accept": "application/json, text/plain, */*",
    "Accept-Encoding": "gzip, deflate, br",
    "Accept-Language": "es-ES,es;q=0.9",
    "Origin": "https://www.nba.com",
    "Referer": "https://www.nba.com/",
    "Sec-Fetch-Dest": "empty",
    "Sec-Fetch-Mode": "cors",
    "Sec-Fetch-Site": "same-site",
    "User-Agent": "Mozilla/5.0 (X11; Linux x86_64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/89.0.4389.114 Safari/537.36",
    "x-nba-stats-origin": "stats",
    "x-nba-stats-token": "true",
}

In [19]:
response = requests.get(url_usage, headers=header).json()

In [20]:
frame_usage = pd.DataFrame(response['resultSets'][0]['rowSet'])
frame_usage.columns = response['resultSets'][0]['headers']
frame_usage.head()

,PLAYER_ID,PLAYER_NAME,TEAM_ID,TEAM_ABBREVIATION,AGE,GP,W,L,W_PCT,MIN,...,PCT_AST_RANK,PCT_TOV_RANK,PCT_STL_RANK,PCT_BLK_RANK,PCT_BLKA_RANK,PCT_PF_RANK,PCT_PFD_RANK,PCT_PTS_RANK,CFID,CFPARAMS
0,203932,Aaron Gordon,1610612743,DEN,25.0,33,17,16,0.515,963.0,...,124,452,342,106,416,238,86,144,5,"203932,1610612743"
1,1628988,Aaron Holiday,1610612754,IND,24.0,49,22,27,0.449,865.0,...,211,297,211,383,367,244,344,249,5,"1628988,1610612754"
2,1630174,Aaron Nesmith,1610612738,BOS,21.0,30,16,14,0.533,398.0,...,485,134,355,298,326,326,340,448,5,"1630174,1610612738"
3,1627846,Abdel Nader,1610612756,PHX,27.0,24,16,8,0.667,355.0,...,405,268,280,125,326,328,105,182,5,"1627846,1610612756"
4,1629690,Adam Mokoka,1610612741,CHI,22.0,9,2,7,0.222,47.0,...,152,74,345,98,1,504,498,355,5,"1629690,1610612741"

In [21]:
frame_usage_columns = frame_usage[["PLAYER_NAME","USG_PCT", "PCT_OREB", "PCT_DREB", "PCT_AST"]]

In [22]:
frame_usage_columns

         PLAYER_NAME  USG_PCT  PCT_OREB  PCT_DREB  PCT_AST
0       Aaron Gordon    0.217     0.218     0.219    0.248
1      Aaron Holiday    0.195     0.049     0.094    0.178
2      Aaron Nesmith    0.122     0.165     0.171    0.053
3        Abdel Nader    0.183     0.159     0.206    0.096
4        Adam Mokoka    0.148     0.125     0.100    0.222
..               ...      ...       ...       ...      ...
514     Yogi Ferrell    0.247     0.333     0.154    0.263
515    Yuta Watanabe    0.109     0.316     0.270    0.100
516      Zach LaVine    0.303     0.095     0.173    0.254
517       Zeke Nnaji    0.126     0.213     0.188    0.037
518  Zion Williamson    0.284     0.327     0.194    0.197

[519 rows x 5 columns]

In [23]:
frame = frame.merge(frame_usage_columns)

In [25]:
url_bio = "https://stats.nba.com/stats/leaguedashplayerbiostats?College=&Conference=&Country=&DateFrom=&DateTo=&Division=&DraftPick=&DraftYear=&GameScope=&GameSegment=&Height=&LastNGames=0&LeagueID=00&Location=&Month=0&OpponentTeamID=0&Outcome=&PORound=0&PerMode=PerGame&Period=0&PlayerExperience=&PlayerPosition=&Season=2020-21&SeasonSegment=&SeasonType=Regular+Season&ShotClockRange=&StarterBench=&TeamID=0&VsConference=&VsDivision=&Weight="

In [26]:
headers = {
    "Accept": "application/json, text/plain, */*",
    "Accept-Encoding": "gzip, deflate, br",
    "Accept-Language": "es-ES,es;q=0.9",
    "Origin": "https://www.nba.com",
    "Referer": "https://www.nba.com/",
    "Sec-Fetch-Dest": "empty",
    "Sec-Fetch-Mode": "cors",
    "Sec-Fetch-Site": "same-site",
    "User-Agent": "Mozilla/5.0 (X11; Linux x86_64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/89.0.4389.114 Safari/537.36",
    "x-nba-stats-origin": "stats",
    "x-nba-stats-token": "true"
}

In [78]:
response_bio = requests.get(url_bio, headers=headers).json()

In [79]:
frame_bio = pd.DataFrame(response_bio['resultSets'][0]['rowSet'])
frame_bio.columns = response_bio['resultSets'][0]['headers']
frame_bio

,PLAYER_ID,PLAYER_NAME,TEAM_ID,TEAM_ABBREVIATION,AGE,PLAYER_HEIGHT,PLAYER_HEIGHT_INCHES,PLAYER_WEIGHT,COLLEGE,COUNTRY,...,GP,PTS,REB,AST,NET_RATING,OREB_PCT,DREB_PCT,USG_PCT,TS_PCT,AST_PCT
0,203932,Aaron Gordon,1610612743,DEN,25.0,6-8,80,235,Arizona,USA,...,33,13.8,6.0,3.8,1.5,0.047,0.158,0.217,0.553,0.191
1,1628988,Aaron Holiday,1610612754,IND,24.0,6-0,72,185,UCLA,USA,...,49,7.5,1.2,1.8,-0.6,0.009,0.060,0.195,0.507,0.134
2,1630174,Aaron Nesmith,1610612738,BOS,21.0,6-5,77,215,Vanderbilt,USA,...,30,3.4,2.2,0.3,3.6,0.034,0.122,0.122,0.510,0.033
3,1627846,Abdel Nader,1610612756,PHX,27.0,6-5,77,225,Iowa State,Egypt,...,24,6.7,2.6,0.8,5.0,0.020,0.151,0.183,0.605,0.078
4,1629690,Adam Mokoka,1610612741,CHI,22.0,6-4,76,190,None,France,...,9,1.4,0.4,0.4,-13.6,0.020,0.073,0.148,0.433,0.167
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
514,1627812,Yogi Ferrell,1610612739,CLE,27.0,6-0,72,178,Indiana,USA,...,2,9.5,3.5,2.5,-10.6,0.064,0.103,0.247,0.434,0.217
515,1629139,Yuta Watanabe,1610612761,TOR,26.0,6-9,81,215,George Washington,Japan,...,34,3.1,3.1,0.6,2.6,0.066,0.186,0.109,0.519,0.062
516,203897,Zach LaVine,1610612741,CHI,26.0,6-5,77,200,UCLA,USA,...,50,27.5,5.1,4.9,-1.3,0.018,0.124,0.303,0.637,0.228
517,1630192,Zeke Nnaji,1610612743,DEN,20.0,6-9,81,240,Arizona,USA,...,34,3.5,1.6,0.2,-9.8,0.038,0.129,0.126,0.641,0.025
518,1629627,Zion Williamson,1610612740,NOP,20.0,6-7,79,284,Duke,USA,...,47,26.5,7.1,3.6,0.7,0.080,0.137,0.284,0.657,0.184

In [80]:
frame_bio.drop(["PLAYER_ID", "TEAM_ID", "PLAYER_HEIGHT_INCHES"], axis=1, inplace=True)

In [81]:
frame_bio.columns

Index(['PLAYER_NAME', 'TEAM_ABBREVIATION', 'AGE', 'PLAYER_HEIGHT',
       'PLAYER_WEIGHT', 'COLLEGE', 'COUNTRY', 'DRAFT_YEAR', 'DRAFT_ROUND',
       'DRAFT_NUMBER', 'GP', 'PTS', 'REB', 'AST', 'NET_RATING', 'OREB_PCT',
       'DREB_PCT', 'USG_PCT', 'TS_PCT', 'AST_PCT'],
      dtype='object')

In [82]:
frame_bio["SEASON"] = "2020-21"
frame_bio.head()

,PLAYER_NAME,TEAM_ABBREVIATION,AGE,PLAYER_HEIGHT,PLAYER_WEIGHT,COLLEGE,COUNTRY,DRAFT_YEAR,DRAFT_ROUND,DRAFT_NUMBER,...,PTS,REB,AST,NET_RATING,OREB_PCT,DREB_PCT,USG_PCT,TS_PCT,AST_PCT,SEASON
0,Aaron Gordon,DEN,25.0,6-8,235,Arizona,USA,2014,1,4,...,13.8,6.0,3.8,1.5,0.047,0.158,0.217,0.553,0.191,2020-21
1,Aaron Holiday,IND,24.0,6-0,185,UCLA,USA,2018,1,23,...,7.5,1.2,1.8,-0.6,0.009,0.060,0.195,0.507,0.134,2020-21
2,Aaron Nesmith,BOS,21.0,6-5,215,Vanderbilt,USA,2020,1,14,...,3.4,2.2,0.3,3.6,0.034,0.122,0.122,0.510,0.033,2020-21
3,Abdel Nader,PHX,27.0,6-5,225,Iowa State,Egypt,2016,2,58,...,6.7,2.6,0.8,5.0,0.020,0.151,0.183,0.605,0.078,2020-21
4,Adam Mokoka,CHI,22.0,6-4,190,None,France,Undrafted,Undrafted,Undrafted,...,1.4,0.4,0.4,-13.6,0.020,0.073,0.148,0.433,0.167,2020-21

In [83]:
data_updated = pd.concat([data, frame_bio])

In [84]:
data_updated

,PLAYER_NAME,TEAM_ABBREVIATION,AGE,PLAYER_HEIGHT,PLAYER_WEIGHT,COLLEGE,COUNTRY,DRAFT_YEAR,DRAFT_ROUND,DRAFT_NUMBER,...,PTS,REB,AST,NET_RATING,OREB_PCT,DREB_PCT,USG_PCT,TS_PCT,AST_PCT,SEASON
0,Dennis Rodman,CHI,36.0,198.12,99.7902,Southeastern Oklahoma State,USA,1986,2,27,...,5.7,16.1,3.1,16.1,0.186,0.323,0.100,0.479,0.113,1996-97
1,Dwayne Schintzius,LAC,28.0,215.9,117.934,Florida,USA,1990,1,24,...,2.3,1.5,0.3,12.3,0.078,0.151,0.175,0.430,0.048,1996-97
2,Earl Cureton,TOR,39.0,205.74,95.2543,Detroit Mercy,USA,1979,3,58,...,0.8,1.0,0.4,-2.1,0.105,0.102,0.103,0.376,0.148,1996-97
3,Ed O'Bannon,DAL,24.0,203.2,100.697,UCLA,USA,1995,1,9,...,3.7,2.3,0.6,-8.7,0.060,0.149,0.167,0.399,0.077,1996-97
4,Ed Pinckney,MIA,34.0,205.74,108.862,Villanova,USA,1985,1,10,...,2.4,2.4,0.2,-11.2,0.109,0.179,0.127,0.611,0.040,1996-97
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
514,Yogi Ferrell,CLE,27.0,6-0,178,Indiana,USA,Undrafted,Undrafted,Undrafted,...,9.5,3.5,2.5,-10.6,0.064,0.103,0.247,0.434,0.217,2020-21
515,Yuta Watanabe,TOR,26.0,6-9,215,George Washington,Japan,Undrafted,Undrafted,Undrafted,...,3.1,3.1,0.6,2.6,0.066,0.186,0.109,0.519,0.062,2020-21
516,Zach LaVine,CHI,26.0,6-5,200,UCLA,USA,2014,1,13,...,27.5,5.1,4.9,-1.3,0.018,0.124,0.303,0.637,0.228,2020-21
517,Zeke Nnaji,DEN,20.0,6-9,240,Arizona,USA,2020,1,22,...,3.5,1.6,0.2,-9.8,0.038,0.129,0.126,0.641,0.025,2020-21
518,Zion Williamson,NOP,20.0,6-7,284,Duke,USA,2019,1,1,...,26.5,7.1,3.6,0.7,0.080,0.137,0.284,0.657,0.184,2020-21