## The Zion Effect

<img src="https://media.giphy.com/media/3MbRQm86C13FvUAyWV/giphy.gif" width="500" align="center">

If you don't like basketball, maybe you won't know anything about Zion Williamson. But I have to tell you something, since he arrrived in the NBA, he is genuinely a beast. Moreover, he's just 20 and he's already making history in the league.

In [3]:
import os
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt

In [5]:
acb_dataset = pd.read_csv("./acb_dataset.csv")
nba_dataset = pd.read_csv("nba_data_2021.csv")

In [9]:
nba_dataset.drop(["Unnamed: 0"], axis = 1, inplace = True)

In [10]:
nba_dataset.head()

,PLAYER_NAME,TEAM_ABBREVIATION,AGE,COLLEGE,COUNTRY,DRAFT_YEAR,DRAFT_ROUND,DRAFT_NUMBER,GP,PTS,REB,AST,NET_RATING,OREB_PCT,DREB_PCT,USG_PCT,TS_PCT,AST_PCT,SEASON
0,Dennis Rodman,CHI,36.0,Southeastern Oklahoma State,USA,1986,2,27,55,5.7,16.1,3.1,16.1,0.186,0.323,0.100,0.479,0.113,1996-97
1,Dwayne Schintzius,LAC,28.0,Florida,USA,1990,1,24,15,2.3,1.5,0.3,12.3,0.078,0.151,0.175,0.430,0.048,1996-97
2,Earl Cureton,TOR,39.0,Detroit Mercy,USA,1979,3,58,9,0.8,1.0,0.4,-2.1,0.105,0.102,0.103,0.376,0.148,1996-97
3,Ed O'Bannon,DAL,24.0,UCLA,USA,1995,1,9,64,3.7,2.3,0.6,-8.7,0.060,0.149,0.167,0.399,0.077,1996-97
4,Ed Pinckney,MIA,34.0,Villanova,USA,1985,1,10,27,2.4,2.4,0.2,-11.2,0.109,0.179,0.127,0.611,0.040,1996-97

In [ ]:
def player_career(election):
    election = str(input(f"Choose your player"))
    if election in nba_dataset["PLAYER_NAME"]: